body{
    background:skyblue;
}

.biao{
    width: 700px;
    height: 600px;
    /*border: 1px solid red;*/
}

.big{
    margin-top: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main1{
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 200px;
}

#main2{
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 200px;
}

#fan{
    position: fixed;
    bottom: 50px;
    right: 50px;
}